<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Express server</title>
    <link href='../public/style.css' rel='stylesheet'></link>
</head>
<body>

    <h1>Blog [{{counter}}]</h1>
    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
        </div>
    {% endfor %}

    <form method="post">
        <label> Title: 
            <input name="title" type="text" required placeholder="title">
        </label>
        <br>
        <label> Content: 
            <textarea name="content"required placeholder="content"></textarea>            
        </label>
        <br>
        <button type="Submit">Submit</button>        
    </form>
    
</body>
</html>